extends default

block content
  h1= title
  br
  br
  h3.text-center Connection Paths
  h3 See how many connections removed you are from any user!

  form(action="/connections", method="POST", id="connectionsForm").connectionsForm-form
    label(for="username2") Username :
    input(type="text", id="username2", name="username", required)
    br
    input(type="submit", value="Submit").submit-login

  p#result 

  script(src="/JS/connection.js")
