extends default 
block content 
    h1= title
        br
        br
        br
        h3.text-center Enter Your Post: 

        form(action="/createPost", method="POST")
            div.form-group
                label(for="posting_image") Image: 
                input(type="text", id="posting_image", name="posting_image", placeholder="upload your image!", required)
                br
            div.form-group
                label(for="post_text") Text:
                input(type="text", id="post_text", name="post_text", placeholder="Type your post!", required)
                br
            div.form-group
                label(for="post_tag") Tag your pet!
                input(type="text", id="post_tag", name="post_tag", placeholder="Enter pet name!")
                br
            div.form-group 
                label(for="pet_petId") Select Pet Username:
                select
                    each i in pets
                        option(value=i.pet_id)= i.pet_id
            button(type="submit") Create Post