extends default 
block content 
    h1= title
        br
        br
        br
        h3.text-center Enter Pet Information Below: 

        form(action="/createPet", method="POST")
            div.form-group
                label(for="pet_id") PetID: 
                input(type="text", id="pet_id", name="pet_id", placeholder="Enter your Pet ID", required)
                br
            div.form-group
                label(for="pet_name") Pet Name:
                input(type="text", id="pet_name", name="pet_name", placeholder="Enter Pet's Name", required)
                br
            div.form-group 
                - var types = ["Dog", "Cat", "Other"]
                label(for="pet_type") Pet Type:
                select(name="pet_type", id="pet_type", required) 
                    each petType in types
                        option(value=petType)= petType[0] + petType.slice(1) 
                br
            div.form-group 
                label(for="pet_breed") Pet Breed: 
                input(type="text", id="pet_breed", name='pet_breed', placeholder="Enter Pet's Breed")
                br
            div.form-group 
                label(for="pet_profile") Profile Picture: 
                input(type="text", name="pet_profile", id="pet_profile", placeholder="Url link for now")
                br
            div.form-group 
                label(for="pet_bio") Pet Bio: 
                input(type="textbox", name="pet_bio", id='pet_bio', placeholder="Tell people more about your pet!")
                br
            div.form-group
                button(type="submit") Create Pet Profile