extends default 
block content 
    h1=title 
        br
        br
        hr
        h2.text-center Enter Information Below to Create A New Profile!
      
            form(action="/createUser", method="POST")
                    label(for="username") Username:
                    input.form-control(type="text", id="username", name="username", placeholder="Enter your username", required)
                    br
                    label(for="display-Name") Display Name: 
                    input.form-control(type="text", id="display_name", name="display_name", placeholder="Enter your display name", required)
                    br
                    label(for="email") Email: 
                    input.form-control(type="email", id="email", name="email", placeholder="Enter Email", required)
                    br
                    label(for="password") Password:
                    input.form-control(type="password", id="password", name="password", placeholder="Enter your password", required)
                    br
                    label(for="confirm_password") Confirm Password:
                    input.form-control(type="password", id="confirm_password", name="confirm_password", placeholder="Confirm password", required)
                    br
                    label(for="profile_picture") Profile Picture:
                    input.form-control(type="text", id="profile_picture", name="profile_picture", placeholder="URL link to image")
                    br
                    -//manually inputed for now, can change to take in languages of a translater API
                    - var langs = ["English", "Spanish", "French", "German"]
                    label(for="preferred_lang") Preferred Language:
                    select.form-control(name="preferred_lang", id="preferred_lang", required)
                        each language in langs 
                            option(value=language)= language[0] +language.slice(1)
                    br 
                    button.btn.btn-primary(type="submit") Create User!
