doctype html
html
    head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      meta(http-equiv='X-UA-Compatible' content='ie=edge')
      title= title
      link(rel='stylesheet' type="text/css" href='/css/style.css')
    body
        nav.navbar
            a.navbar-brand(href='/') Home
            ul.navbar-nav
                li.nav-item
                    button.nav-link(type='button', onclick="window.location.href='/login'") Login
                li.nav-item
                    button.nav-link(type='button', onclick="window.location.href='/createUser'") Sign Up

    
            block content
