doctype html
html
    head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      meta(http-equiv='X-UA-Compatible' content='ie=edge')
      title= title
      link(rel='stylesheet' type="text/css" href='/css/style.css')
    body
         nav.navbar.navbar-expand-lg.navbar-light.bg-light
            a.navbar-brand(href='/') Home
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarNav.collapse.navbar-collapse
                ul.navbar-nav
            li.nav-item
                a.nav-link(href='/login') Login
            li.nav-item
                a.nav-link(href='/createUser') Sign Up
            li.nav-item
                a.nav-link(href='/createPet') Create Pet Profile
            
            block content
