extends default 
block content 
    h1.title=title 
        
        form(action="/login", method="POST").login-form
            label(for="username") Username:
            input(type="text", id="username", name="username", required)
            br
            label(for="password") Password:
            input(type="password", id="password", name="password", required)
            br
            input(type="submit", value="Login").submit-login