extends default

block content
  h1.title.text-center= title

  form(action="/IntitiateTransfer", method="POST").login-form.mt-4
    .form-group
      label(for="username") Username:
      input.form-control(type="text", id="username", name="username", required)
    
    .form-group
      label(for="petUserName") Pet Username:
      input.form-control(type="text", id="petUserName", name="petUserName", required)
    
    button.btn.btn-primary(type="submit", id="submitTransferRequest") Submit
