extends default 
block content 
    h1=title 
        br
        br
        hr
        h3.text-center Update/Change Password 

        form(action="/updatePassword", method="POST")
            div.form-group 
                label(for="current_password") Enter Current Password:
                input.form-control(type="password", id="current_password", name="current_password", required, placeholder="Current Password")
                br
            div.form-group 
                label(for="new_password") Enter New Password: 
                input.form-control(type="password", id="new_pasword", name="new_password", required, placeholder="New Password")
                br
            div.form-group 
                label(for="confirm_new_password") Confirm New Password: 
                input.form-control(type="password", id="confirm_new_password", name="confirm_new_password", required, placeholder="Confrim Password")
                br
            div.form-group 
                button.btn.btn-primary(type="submit") Change Password