html {
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  :root {
    --light-orange: #ff6600;
    --dark-green: #003b00;
    --dark-grey: #777;
    --light-grey: #dadce0;
    --white: #fff;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    background-color: var(--light-grey);
  }

  /* --------------------------------------------------------------- */
  /* HOME STYLES */
  /* --------------------------------------------------------------- */

  .home-search {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 600px;
    text-align: center;
  }
   
  .home-search img {
    height: 200px;
    width: 500px;
    
  } 
  
   .home-input {
    outline: none;
    box-shadow: none;
    background-color: transparent;
    border-radius: 4px;
    padding: 10px 20px;
    border: 1px solid var(--dark-grey);
    width: 100%;
  } 
/* --------------------------------------------------------------- */
/* LOGIN STYLES */
/* --------------------------------------------------------------- */
  .login-form{
    padding:10rem;
  }
  
  .submit-login {
    background-color: rgb(61, 161, 243);
    padding: .3rem;
    border-radius: .5rem;
    box-shadow: 0 4px 6px rgba(11, 151, 176, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .submit-login:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  }

  /* --------------------------------------------------------------- */
  /*  profiles */
  /* --------------------------------------------------------------- */
  #headerImage
  {
    /* background-color: #003b00; */
    position: relative;
    text-align: center;
    width: 1920px;
    height: 70px;
    position: absolute;
    padding: 5px;
    
  }

  #profileNav
  {
    list-style-position: inside;
    position: absolute;
    top: 110px;
    width: 10%;
    padding: 5px;
    left: 10px;
    border: 2px solid black;
    background-color: #ffffff;
  }

  /* #profilePics
  {
    list-style-position: inside;
    position: absolute;
    top: 110px;
    width: 65%;
    height:15%;
    padding: 5px;
    left: 240px;
    border: 2px solid black;
    background-color: #ffffff;
    justify-content: center;
  } */

  #posts
  {
    list-style-position: inside;
    position: absolute;
    top: 120px;
    /* width: auto; */
    width: auto;
    padding: 15px;
    left: 200px;
    border: 2px solid black;
    background-color: #ffffff;
    text-align: center;
    height:auto;
    margin-left: 30px;
    margin-right: auto;
  }

  #postData
  {
    position: absolute;
    padding: 5px;
    border: 2px solid black;
    background-color: #ffffff;
    text-align: center;
  }

  #profileInfo
  {
    list-style-position: inside;
    position: absolute;
    top: 110px;
    width: 20%;
    height:auto;
    padding: 5px;
    bottom: auto;
    right: 10px;
    border: 2px solid black;
    background-color: #ffffff;
  }

  /* #friends
  {
    list-style-position: inside;
    position: absolute;
    top: 500px;
    width: 20%;
    height:20%;
    padding: 5px;
    right: 10px;
    border: 2px solid black;
    background-color: #ffffff;
  } */

  #petprofiles
  {
    list-style-position: inside;
    position: absolute;
    top: 570px;
    width: 20%;
    height:auto;
    padding: 25px;
    right: 10px;
    border: 2px solid black;
    background-color: #ffffff;
  }

  .postContainer {
    border: 2px solid #ccc;
    border-color: black;
    margin-bottom: 10px;
    padding: 10px;
  }

  /* --------------------------------------------------------------- */
  /*  MESSAGES STYLES */
  /* --------------------------------------------------------------- */
  .scroll-box {
    height: 200px; /* Set the height of the scroll box */
    overflow-y: auto; /* Enable vertical scrolling */
    border: 1px solid #ccc; 
  }
  
  /* --------------------------------------------------------------- */
  /*  MISC IMPORTED STYLES */
  /* --------------------------------------------------------------- */

  a {
    text-decoration: none;
    color: #333;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a.button {
    border: 2px solid #004400;
    color: var(--dark-green);
    border-radius: 4px;
    padding: 6px 24px;
    font-size: 14px;
    font-weight: 400;
  }
  
  a.button:hover {
    text-decoration: none;
    background-color: var(--dark-green);
    color: var(--light-orange);
  }
  
  .author {
    color: var(--light-orange);
  }
  
  header {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    background-color: var(--light-orange);
    padding: 5px 10px;
    align-items: center;
  }
  
  .logo {
    color: #002200;
    flex-basis: 10%;
  }
  
  form {
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 1;
    height: calc(100% - 10px);
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .search-input {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border-color: transparent;
    background-color: var(--dark-green);
    color: var(--light-orange);
    font-size: 16px;
    line-height: 1.4;
    padding-left: 5px;
  }
  
  .container {
    width: 100%;
    max-width: 1600px;
    margin: 300px auto 0;
    padding: 80px 20px 40px;
  }
  
  .result-count {
    color: var(--dark-grey);
    text-align: center;
    margin-bottom: 15px;
  }
  
  .search-results {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    list-style: none;
  }
  
  .news-article {
    border: 1px solid var(--dark-grey);
    background-color: var(--white);
    padding: 15px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
  }
  
  .article-image {
    width: 200px;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 20px;
  }
  
  .title {
    margin-bottom: 15px;
  }
  
  .title-link {
    flex-grow: 1;
  }
  
  .description {
    color: var(--dark-grey);
    margin-bottom: 15px;
  }
  
  .metadata {
    color: var(--dark-green);
    font-size: 14px;
    margin-top: auto;
  }
  
  .created-date::after {
    content: '\0000a0\002022\0000a0';
    margin: 0 3px;
  }
  
  .pagination {
    margin-top: 20px;
  }
  
  .previous-page {
    margin-right: 20px;
  }
  
  @media screen and (max-width: 550px) {
    header {
      flex-direction: column;
      height: auto;
      padding-bottom: 10px;
    }
  
    .logo {
      display: inline-block;
      margin-bottom: 10px;
    }
  
    form, .search-input {
      text-align: center;
      width: 100%;
    }
  
    .github-button {
      display: none;
    }
  
    .title {
      font-size: 18px;
    }
  
    .description {
      font-size: 14px;
    }
  
    .article-image {
      display: none;
    }
  }
  /* Create Post */
  /* success text */
  .success{
    color: #4CAF50;
    font-family: 'Helvetica',sans-serif;
  }
  /* error message*/
  .error{
    color: red;
    font-family: 'Helvetica',sans-serif;
  }
  .home-content {
    margin-top: 50px;
} */

.homeTitle {
    font-size: 2.5rem;
}

.homeImage {
    border-radius: 10px;
}

 .homeButton {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.notice {
  font-weight: bold;
  color: red;
}